body {
  font-family: "Comic Sans MS";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
.inputSpace {
  width: 100%;
  background: linear-gradient(#b9e4ff, #57bdff);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSpace > input {
  width: 700px;
  height: 50px;
  margin-right: 20px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  font-family: "Comic Sans MS";
}
.inputSpace > button {
  width: 100px;
  height: 50px;
  font-family: "Comic Sans MS";
}
.incompleteSpace {
  width: 100%;
  background: linear-gradient(#44446c, #6f6fa4);
  color: #fff;
  display: flex;
  min-height: 200px;
}
.todo {
  display: flex;
  height: 40px;
}
.todo > button {
  margin-left: 10px;
  height: 30px;
  font-family: "Comic Sans MS";
}
.completeSpace {
  width: 100%;
  background: linear-gradient(#b4b4e8, #e1e1f6);
  color: #000;
  display: flex;
  min-height: 200px;
}
