body {
  font-family: "Comic Sans MS";
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 18px;
  width: 600px;
}
li {
  list-style: none;
}
p {
  text-align: center;
  padding-top: 10px;
  font-size: 20px;
  padding-bottom: 40px;
}
button {
  cursor: pointer;
  border-radius: 6px;
  box-shadow: 1px 1px 2px;
}
button:hover {
  background: linear-gradient(#000089, #0000ff);
  color: #fff;
}
button:active {
  margin: 1px 0 0 1px;
  outline: none;
}
button:focus {
  outline: none;
}
.inputSpace {
  width: 100%;
  background: #769fb6;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.inputSpace > input {
  width: 400px;
  height: 50px;
  margin-right: 20px;
  border-radius: 4px;
  outline: none;
  padding-left: 10px;
  font-family: "Comic Sans MS";
}
.inputSpace > button {
  width: 100px;
  height: 50px;
  font-family: "Comic Sans MS";
}
.incompleteSpace {
  width: 100%;
  background: #9dbbae;
  color: #fff;
  min-height: 200px;
  margin-top: -20px;
}
.todo {
  display: flex;
  height: 40px;
}
.todo > button {
  margin-left: 10px;
  height: 30px;
  font-family: "Comic Sans MS";
}
.completeSpace {
  width: 100%;
  background: #d5d6aa;
  color: #000;
  min-height: 200px;
  margin-top: -20px;
}
